.AdminArtistList {
  margin-top: 20px;
  .titre {
  text-align: center;
  }
  .add {
    margin-left: 10px;
  }
  button {
    margin: 5px;
  }
  .AdminArtist {
    background-color: rgba(105, 201, 121, 0.61);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (min-width: 768px) {
    flex-direction: row;
    }
    form {
      width: auto;
      input {
        width: auto;
      }
    }
    .modif {
      padding: 5px;
      margin: 5px;
      &.buttons {
        display: flex;
        flex-direction: column;
        button {
          width: 159px;
        }
      }
    }
  }
}
