.AdminActList {
  margin-top: 20px;
  .titre {
  text-align: center;
  }
  .add {
    margin-left: 10px;
  }
  button {
    margin: 5px;
  }

  .add-act {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-self: center;
    margin-left: 10px;
    button {
      width: 200px;
    }

    input {
      width: auto;
    }
    textarea {
      width: 100%;
      height: 50%;
    }
  }
  .AdminAct {
    background-color: rgba(105, 201, 121, 0.61);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: auto;
    @media (min-width: 768px) {
      flex-direction: row;
      height: 350px;
    }
    form {
      width: auto;
      @media (min-width: 768px) {
        width: 45%;
      }
      input {
        width: auto;
      }
      textarea {
        width: 100%;
        height: 50%;
      }
    }
    .modif {
      padding: 15px;
      margin: 5px;
      background-color: rgba(255, 255, 255, 0.493);
      border-radius: 15px;
      align-self: center;
      height: auto;
      @media (min-width: 768px) {
        height: 250px;
      }
      &.act {
        @media (min-width: 768px) {
          width: 45%;
        }
      }
      &.artist {
        @media (min-width: 768px) {
          width: 35%;
        }
      }
      &.buttons {
        height: 125px;
        align-self: center;
        button {
          width: 178px;
        }
      }
    }
    .buttons{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}
