.Admin {
  text-align: center;
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  p {
    background-color: rgba(105, 201, 121, 0.61);
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  width: 50%;
  align-self: center;
  }
}