.Shows {
  .bot{
    vertical-align: bottom;
  }
  .top{
   vertical-align: top;
  }
  .price th{
    padding:3px;
  }
  .price td{
    border-top:solid;
  }
  .btop{
    border-top:solid;
  }
  text-align:center;
  .tribune {
    background-color: rgba(105, 201, 121, 0.61);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    img {
      width: 80%;
    }
    @media (min-width: 768px) {
      flex-direction: row;
      img {
        width: 25%;
      }
    }
  }
  .Show {
    background-color: rgba(105, 201, 121, 0.61);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
      h4 {
        padding: 0 10px;
      }
      button {
        height: 38px;
        align-self: center;
      }
    }
    .reserver {
      border-top: solid black 1px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      .form {
        display: flex;
        flex-direction: row;
      }
    }
  }
}